# Ignore node_modules directory
/node_modules

# Ignore .env file
/.env

# Other patterns to ignore additional files or directories
# ...

# Ignore log files
*.log

# Ignore build artifacts
/build
/dist

# Ignore temporary files
*.tmp
*.swp

# Ignore IDE-specific files (example for VS Code)
.vscode

# Ignore editor backup files
*~
