<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="/styles/forgotpassword.css">
</head>
<body>
      <div class="forgotPassword-main">
            <%- include('header')%>
            <div class="forgotPassword-inner">
                  
                  <div class="left">
                        <img src="/images/forgotpassword.webp"/>
                  </div>
                  <div class="right">
                        <h6>Forgot Password</h6>
                        <p>Enter your email to reset your password</p>
                        <form method="post" action="/users/forgotPassword"> 
                              <input type="email" name="email" placeholder="email"/>
                              <input type="submit"/>
                        </form>
                        <% if (message) { %>
                              <p>Message: <%= message %></p>
                        <% } %>
                  </div>
            </div>
      </div>
</body>
</html>