<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
      <%- include('header') %>
      <div class="main">
            <div class="leftDiv">
                  <h6>Pay <span>less</span> for the brands you <span>Love</span></h6>
                  <a href="/users/signup">Get Started</a>
            </div>
            <div class="rightDiv"> 
                  <img src="/images/home_page_image.avif"/>
            </div>
      </div>
</body>
</html>