<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="/styles/forgotpassword.css">
</head>
<body>

      <div class="forgotPassword-main">
            <%- include('header')%>
            <div class="forgotPassword-inner">
                  <div class="left">
                    <img src="/images/resetimage.webp"/>
                  </div>
                  <div class="right">
                    <h6>Reset Password</h6>
                    <p>Enter new password</p>
                    <form method="post" action="/users/resetpassword"> 
                      <input type="text" name="username" placeholder="username"/>
                      <input type="password" name="newpassword" placeholder="password"/>
                      <input type="password" name="confirmpassword" placeholder="confirmpassword"/>
                      <input type="submit"/>
                    </form>
                  </div>
                </div>                
      </div>
</body>
</html>