*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
.addProducts {
      padding:2rem 0 2rem 2rem ;
}
.addProducts h3{
      padding-bottom: 1rem;
}
.addProducts form {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
}
.addProducts form input{
      width: 50%;
      padding: .5rem;
      border-radius: .4rem;
      border: none;
      border: 1px solid rgb(254, 127, 65);
      font-size: 1.2rem;
}
.addProducts form input[type="submit"]{
      width: 30%;
      padding: .5rem;
      border-radius: .4rem;
      border: none;
      border: none;
      background-color: rgb(254, 127, 65, .6);
      color: white;
      font-size: 1.2rem;
      cursor: pointer;
}
#showProducts{
      padding: 0 0 2rem 2rem;
}
#products{
      width: 100%;
      padding-top: 2rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
}
.productDiv{
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      gap: .5rem;
}
.btn{
      padding: .4rem .6rem;
      background-color: grey;
      color: white;
      border: none;
      border-radius: .4rem;
      cursor: pointer;
}
#productImage{
      width: 200px;
      height: 200px;
      object-fit: contain;
}