@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Varela Round', sans-serif;
}
.forgotPassword-main{
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
}
.forgotPassword-inner{
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 92%;
      width: 100%;
}
.left{
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;

}
.left img{
      height: 450px;
}
.right{
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}
.right h6{
      font-size: 3rem;
      padding-bottom: 1rem;
}
.right p{
      font-size: 1.1rem;
      padding-bottom: 3rem;
}
.right form{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding-bottom: 2rem;
}
.right form input{
      padding: .6rem .8rem;
      width: 50%;
      border: rgb(254, 127, 65) 1px solid;
      border-radius: .5rem;
}
.right form input:last-child{
      border: none;
      width: 20%;
      background-color: rgb(254, 127, 65);
      color: white;
      border-radius: 1.2rem;
      cursor: pointer;
}
.right form input:last-child:hover{
      background-color: white;
      color: rgb(254, 127, 65);
      border: 1px solid rgb(254, 127, 65);
}